.HeroSection {
  background: url(https://raw.githubusercontent.com/Indra-RMT/Assets-Img/master/hero-image/header-indra.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh);
  min-height: 550px;
}

.HeroSection .heroText {
  position: absolute;
  /* left: 100px; */
  color: white;
  top: 16%;
  width: 100%;
  text-align: center;
}

.HeroSection .heroText div:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.HeroSection .heroText div:nth-child(2) {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

@media screen and (min-width: 531px) {  
  .HeroSection .heroText {
    text-align: left;
    top: 22%;
  }
}

@media screen and (min-width: 700px) {
  .HeroSection .heroText div:nth-child(1) {
    font-size: 2.8rem;
  }
  
  .HeroSection .heroText div:nth-child(2) {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .HeroSection .heroText div:nth-child(1) {
    font-size: 3rem;
  }
}