.FormInput {
  margin-bottom: 20px;
}

.FormInput .label {
  width: 100%;
  margin: 0 auto 5px 5px; 
}

.FormInput.white .label {
  color: white;
}

.FormInput input {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 6px 14px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  outline-width: 0;
  border-radius: 10px;
  border: 1px solid rgb(230, 223, 223);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(2,92,171,0.20);
  -moz-box-shadow: 2px 1px 5px 0px rgba(2,92,171,0.20);
  box-shadow: 2px 1px 5px 0px rgba(2,92,171,0.20);
  transition: 0.3s;
}

.FormInput input:focus {
  border: 1px solid #1D6EB6;
  -webkit-box-shadow: 2px 1px 5px 0px rgba(2,92,171,0.40);
  -moz-box-shadow: 2px 1px 5px 0px rgba(2,92,171,0.40);
  box-shadow: 2px 1px 5px 0px rgba(2,92,171,0.40);
}

.FormInput.white input {
  border: 1px solid rgb(255, 255, 255);
  -webkit-box-shadow: 2px 1px 5px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 2px 1px 5px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 2px 1px 5px 0px rgba(255, 255, 255, 0.2);
}

.FormInput.white input:focus {
  border: 1px solid #70ade2;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(230,14,230,1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(230,14,230,1);
  box-shadow: 0px 0px 10px 1px rgba(230,14,230,1);
}

@media screen and (min-width: 1801px) {
  .FormInput {
    margin-bottom: 28px;
  }

  .FormInput input {
    padding: 13px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1800px) {
  .FormInput {
    margin-bottom: 25px;
  }

  .FormInput input {
    padding: 12px;
  }
}