.SelectCategory {
  cursor: pointer;
  background-color: #e9dede;
  margin: 7px;
  flex-grow: 1;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0 12px;
}

.SelectCategory.active {
  background-color: #1D6EB6;
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .SelectCategory {
    font-size: .8rem;
    margin: 7px 3px;
    padding: 0 7px;
  }
}