.PageContainer {
  padding: 0 15px;
}

@media screen and (min-width: 648px) {
  .PageContainer {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1025px) {
  .PageContainer {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1050px;
  }
}