.ThumbnailWorks {
  margin: -10px 0 20px 0;
  padding: 0 0 50px 0;
}

.ThumbnailWorks .thumbnailContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.ThumbnailWorks .wrapper {
  grid-auto-rows: 1fr;
}

.ThumbnailWorks .buttonMore {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end
}

.ThumbnailWorks .button {
  cursor: pointer;
  color: #272727;
  display: inline;
}

.ThumbnailWorks .button:hover {
  color: #1d6eb6;
}

.ThumbnailWorks .fontAwesome {
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .ThumbnailWorks .thumbnailContainer{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .ThumbnailWorks .thumbnailContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
